@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* :not(.icon){
  font-family: 'Poppins', sans-serif !important;
}


::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 2px solid #555555;
}

body{
  padding-top: 65px !important;
  scroll-behavior: smooth;
}

footer{
  margin: 20px 0;
  width: 100vw;
  background-color: #1b1c1d;
  color: #fff;
}

footer ul{
  list-style: none;
  padding: 0;
}
.faded-text ,footer ul li a{
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}
footer ul li a:hover{
  color: #fff;
  opacity: 1;
}


@media (max-width: 768px) {
  html, body {
  width: auto !important;
  overflow-x: hidden !important;
  }
  footer{
    text-align: center;
  }
}

#features{
  margin: 100px 0;
  background-color: #1b1c1d;
  color: #fff;
  border-radius: 25px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#features .col-md-4{
  text-align: center;
  padding: 0 20px;
}
#features h4{
  font-weight: bold;
}
#features p{
  opacity: 0.5;
}

    /*REUSABLE VERTIICAL ALIGN*/
    .align-middle{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .navbar{
      transition: 0.3s ease;
    }

    .navbar-collapse{
      background: #fff;
    }

   
    #showroom-car{
      height:  70vh;
    }
    #showroom-car img{
      max-height: 100%;
    }


    /*MULTI ITEM SLIDER*/
    .items {
        width: 90%;
        margin: 0px auto;
    }
    .items div{
      text-align: center;
      font-weight: 600;
    }

    #car-types .slick-slide {
        margin: 0;
        padding: 0 50px;
        cursor: pointer;
        transition: 0.2s ease;
        opacity: 0.4;
    }
    #car-types .slick-slide:hover{
      opacity: 0.9;
    }

    #car-types .slick-slide img {
        width: 100%;
        border: 0px solid #fff;
        
    }

    #nearby .card-deck{
      width: 100%;
    }

    #nearby .slick-slide{
      margin: 0 10px;
    }

    #nearby .card{
      border-radius: 25px;
      background-color: #1b1c1d;
      color: #fff;
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }



#mobile-app img{

}

.bold-text{
  font-weight: bold;
}

.link-text{
  text-decoration: none;
  color: #1b1c1d;
}