/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*:not(i){
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px;
}

body{
  scroll-behavior: smooth;
}

body.preloader-site{
  overflow: hidden;
}

.preloader-wrapper{
  height: 100vh;
  width: 100vw;
  position: fixed;
  /*background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(226,226,226,1) 54%, rgba(213,213,213,1) 100%);*/
  background: rgba(255,255,255,0.8);
  top: 0;
  left: 0;
  z-index: 999999;
}
.preloader-wrapper .preloader-custom {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

aside .nav-item:hover .nav-link{
  color: #fff !important;
}

.not-smooth{
  transition: all 1ms ease !important;
}

.main-sidebar{
  background: #1b1c1d;
}

.sidebar .nav-link:hover{
/*  color: #76b947 !important;*/
  background: #444;
}

.sidebar .nav-link{
  font-weight: 400;
  color: white !important;
}

.sidebar .nav-header{
  color: white;
}

.brand-text{
  color: white;
}

.info a{
  color: white;
}

.user-panel .image img{
  width: 35px;
  height: 35px;
  border-radius: 50px;
  object-fit: cover;
}

.table-image .w-10{
  width: 10%;
}

.table-image td,
.table-image tr{
  text-align: center;
}


.plant_row:hover{
  background: #ccc;
}

.tooltip{
   font-size: 0.8rem !important;
}

.nav-link.active,
.show > .nav-link {
  background-color: #1b1c1d !important;
}

.nav-link.active:hover {
  color: #fff !important;
}

.nav-link:hover{
  color: #1b1c1d !important;
}

.bg-black{
  background-color: #1b1c1d !important;
}





/*.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}*/

/*.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}*/

.file-upload-content,
.file-upload-content2 {
  display: none;
  text-align: center;
}

.file-upload-input,
.file-upload-input2 {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap,
.image-upload-wrap2 {
  margin-top: 20px;
  border: 2px dashed #1b1c1d;
  position: relative;
}

.image-dropping,
.image-dropping2,
.image-upload-wrap:hover,
.image-upload-wrap2:hover {
  background-color: #ccc;
  border: 2px dashed #1b1c1d;
}

.image-upload-wrap:hover .drag-text h4,
.image-upload-wrap2:hover .drag-text2 h4 {
  color:  #1b1c1d;
}

.image-title-wrap,
.image-title-wrap2 {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text,
.drag-text2 {
  text-align: center;
  padding: 50px;
}

.drag-text h4,
.drag-text2 h4 {
  font-weight: 600;
  color: #1b1c1d;
  margin:  0;
}

.file-upload-image,
.file-upload-image2 {
  max-height: 300px;
  max-width: 300px;
  margin: auto;
  padding: 20px;
}

/*.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}*/